body {
	margin: 0;
	padding: 0;
	font-family: helvetica;
}

a {
	color: blue;
}

body,html {
  height:100%;
}


h1 {
}

#wrapper {
	height: 100%;
}

#sidebar {
	width: 250px;
	border-right: 6px solid #E6E6E6;
	height: 100%;
	float: left;
	position: fixed;
	top: 0;
}

.sidebarMenu {
	list-style-type: none;
	display: block;
	margin: 0;
	height: 100%;
	padding: 0;
	padding: 25px;
	background: ;
	width: 100%;
}


.sidebarMenu li {
	font-weight: bold;
	text-decoration: none;
	margin-bottom: 10px;
	width: 100%;
}

.grey-line {
	
}

.sidebarMenu li a {
	border: 3px solid #E6E6E6;
	text-decoration: none;
	color: grey;
	padding: 10px;
	width: 70%;
	display: block;
}

.sidebarMenu li a:hover {
	background: #494ED6;
	color: white;
	border: 3px solid #494ED6;
}

.floatMenu li {
}




#content {
	padding: 0;
	height: 100%;
	margin-left: 250px;
}

.welcomeScreen {
	font-weight: bold;
	font-size: 36px;
	border-bottom: 8px solid #E6E6E6;
	margin-bottom: 20px;
	line-height: 60px;
	vertical-align: top;
}

.welcomeScreen a {
	text-decoration: none;
}

.recentPosts {

}

h2 {
	color: #b8b8b8;
	font-size: 30px;
	padding: 0;
	margin-top: 0;
	margin-bottom: 10px;
}

.post {
	border-bottom: 1px solid #F0F0F0;
	b
}

.date {
	font-weight: bold;
	color: white;
	background: #F0DD62;
	padding: 5px;
	display: inline-block;

}

.post-content {
	padding: 25px;
	padding-left: 50px;
}

.post-content:hover {
	background: #E6E6E6;
	cursor: pointer;
}

.post-body {
	font-size: 14px;
	line-height: 24px;
	max-width: 550px;
}

/*----------------------------- BLURB 
*/

.folio {
	color: #b8b8b8;
}

.folio-post {
	padding-left: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.folio-post:hover {
	background: #F0F0F0;
}



.folio-title {
	font-size: 70px;
	font-weight: bold;
	display: inline-block;
}



/* ------------------- PROFILE
*/ 


.profile {
	color: #b8b8b8;
}


.profile a {
	text-decoration: none;
}

.profileImg {
	height: 200px;
	width: 200px;
	background: grey;
	margin: auto;
	margin-top: 25px;
}

.profileBlurb {
	font-size: 17px;
	font-weight: bold;
	width: 200px;
	margin: auto;
	line-height: 23px;
}



/*------------------------------- TOP NAV
*/


#topNav {
	position: fixed;
	width: 100%;
	z-index: 50;
	background: white;
}

#topNav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 100%;
}

#topNav ul li {
	width: 40%;
	width: 200px;
	float: left;
	width: 20%;
	margin-right: 50px;
}

#topNav ul li a {
	border-bottom: 6px solid #E6E6E6;
	width: 100%;
	display: block;
	text-align: center;
	padding: 20px;
	color: #b8b8b8;
	text-decoration: none; 
	font-weight: bold;
}





















